##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

{% for alias_addresse in install_postfix__aliases_addresses %}
{{ alias_addresse.alias }}:{{ alias_addresse.address }}
{% endfor %}